<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/micss.css" rel="stylesheet">

    <link href="css/librosupload.css" rel="stylesheet">

</head>

<body id="page-top">
<div th:include="../template.html::header"></div>
    <div class="drop-area">
        <h2>Arrastra y suelta Ficheros</h2>
        <span>o</span>
        <button>Selecciona tu libro a subir</button>
        <input type="file" name="" id="input-file" hidden multiple/>
    </div>


    <form class="user">
        <div class="form-group row">
            <div> FICHERO
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="txtTipo"
                           placeholder="Tipo" readonly>
                </div>

                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="txtRuta"
                           placeholder="Ruta" readonly>
                </div>

                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="txtTamano"
                           placeholder="tamano" readonly>
                </div>

                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="txtFecha"
                           placeholder="Fecha" readonly>
                </div>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="txtNombre"
                       placeholder="Nombre" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="txtDescripcion"
                       placeholder="Descripcion" required>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="txtCategoria"
                       placeholder="Categoria" list="listCategoria" required>
                <datalist id="listCategoria">
                </datalist>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="txtSeccion"
                       placeholder="Seccion" list="listSeccion" required>
                <datalist id="listSeccion">
                </datalist>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="txtAutor"
                       placeholder="Autor" list="listAutor" required>
                <datalist id="listAutor">
                </datalist>
            </div>
            <div class="col-sm-6">
                <input type="number" class="form-control form-control-user" id="txtIsbn" nim="1"
                       max="9999999999999" placeholder="ISBN" required>
            </div>
        </div>
        <div>
            <div class="">
                <select name="select" class="" id="txtUserId" multiple><!-- onclick="cambiaPermisos()">-->
                </select>
            </div>

        </div>
        <a onclick="registrarLibro()" id="txtButton" href="#" class="btn btn-primary btn-user btn-block">
            Registrar
        </a>

    </form>

<div th:include="template.html::footer"></div>




    <!--<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Libros</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="libros" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Seccion</th>
                        <th>Autor</th>
                        <th>Tamaño</th>
                        <th>Fecha</th>
                        <th>Accion</th>
                    </tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Seccion</th>
                        <th>Autor</th>
                        <th>Tamaño</th>
                        <th>Fecha</th>
                        <th>
                            <div class="formbuilder-button form-group field-button-1651433178538">
                                <button type="submit" class="btn-primary btn" name="button-1651433178538" access="false" style="primary" id="button-1651433178538">Subir</button>
                            </div>
                        </th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>-->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>



    <script src="js/librosupload.js"></script>


</body>

</html>